:root[data-color-mode="dark"] {
    --surface-default: #353535;
    --surface-highlight-a: #ffdc61;
    --surface-highlight-b: #ff7d55;
    --surface-highlight-c: #d1c2f4;
    --surface-inverted: #282828;
    --surface-icon: rgba(255,246,238,0.48);
    --surface-input: #282828;
    --surface-brand-DEFAULT: #ff7d55;
    --surface-brand-muted: rgba(255,125,85,0.2);
    --surface-brand-darker: rgba(255,125,85,0.4);
    --surface-shimmer-from: #313131;
    --surface-shimmer-to: rgba(80,80,80,0);
    --surface-overlay: rgba(0,0,0,0.64);
    --border-color-base: #414141;
    --border-color-lighter: #535353;
    --border-color-darker: #3f3f3f;
    --border-color-darkest: #353535;
    --text-body-color-default: #fff6ee;
    --text-body-color-inverted: #293045;
    --text-body-color-muted: rgba(255,246,238,0.72);
    --text-body-color-disabled: rgba(255,246,238,0.24);
    --text-headline-color-default: #fff6ee;
    --text-headline-color-inverted: #fff6ee;
    --text-headline-color-muted: rgba(255,246,238,0.24);
    --text-label-color-default: rgba(255,246,238,0.48);
    --text-signal: #ff7d55;
    --text-fineprint: rgba(255,246,238,0.48);
    --text-webagent: #d1c2f4;
    --text-quicksearch: #ffdc61;
    --text-tools: #edc2e7;
    --text-size-xs: 0.5625rem;
    --text-size-sm: 0.6875rem;
    --text-size-md: 0.8125rem;
    --text-size-lg: 1rem;
    --text-size-2xl: 1.5rem;
    --text-size-xl: 1.25rem;
    --text-fixed: #293045;
    --input-background-default: #282828;
    --input-background-icon: rgba(255,246,238,0.48);
    --input-background-chroma: rgba(0,0,0,0.12);
    --input-text-default: rgba(255,246,238,0.96);
    --input-text-placeholder: rgba(255,246,238,0.24);
    --input-text-disabled: #ffffff;
    --button-background-brand-default: #ff7d55;
    --button-background-ghost-default: rgba(255,255,255,0.08);
    --button-background-base-default: #414141;
    --button-background-base-hover: #646464;
    --button-background-provider-default: #414141;
    --button-text-base-default: #fff6ee;
    --button-text-base-disabled: rgba(255,246,238,0.32);
    --button-text-provider-default: #fff6ee;
    --button-text-provider-disabled: rgba(255,246,238,0.32);
    --button-text-brand-default: #3f3f3f;
    --button-border-provider: rgba(255,246,238,0.03);
    --button-border-base: rgba(255,246,238,0.08);
    --button-border-muted: rgba(41,48,69,0.08);
    --prompt-background-default: #313131;
    --prompt-text-default: #fff6ee;
    --prompt-text-placeholder: rgba(255,246,238,0.56);
    --prompt-rounded-default: 0.75rem;
    --message-background-webagent: #d1c2f4;
    --message-background-quicksearch: #ffdc61;
    --message-background-tools: #edc2e7;
    --message-background-user: #414141;
    --message-background-icon: #282828;
    --message-background-email: #ffffff;
    --message-background-contact: #fff6ee;
    --message-background-file: #edc2e7;
    --message-background-emailrelated: #d1c2f4;
    --message-border-user: rgba(255,246,238,0.03);
    --message-border-tools: rgba(41,48,69,0.03);
    --message-border-email: rgba(41,48,69,0.08);
    --message-spacing-x: 1.25rem;
    --message-spacing-y: 1.5rem;
    --message-text-default: #282828;
    --message-text-status: rgba(41,48,69,0.48);
    --message-text-email-label: rgba(41,48,69,0.32);
    --message-text-email-body: #3f3f3f;
    --tooltip-text-default: #fff6ee;
    --loader-background-inner: #293045;
    --loader-background-outer: rgba(41,48,69,0.16);
    --loader-background-progress: rgba(41,48,69,0.08);
    --autosuggest-background-default: rgba(255,255,255,0);
    --autosuggest-background-hover: #313131;
    --autosuggest-spacing-x: 1rem;
    --autosuggest-spacing-y: 0.25rem;
    --autosuggest-text-default: rgba(255,246,238,0.72);
    --autosuggest-text-hover: rgba(255,246,238,0.88);
    --autosuggest-border-default: rgba(255,246,238,0.16);
    --action-message-background-default: rgba(255,255,255,0);
    --action-message-background-hover: rgba(41,48,69,0.16);
    --credentials-background-default: #3d3d3d;
    --credentials-background-hover: #535353;
    --credentials-text-status: rgba(255,246,238,0.32);
    --card-headline: #282828;
    --card-body: rgba(41,48,69,0.64);
    --navigation-text-default: rgba(255,246,238,0.48);
    --navigation-text-hover: rgba(255,246,238,0.88);
    --navigation-text-active: #ff7d55;
    --sidebar-background-default: #282828;
    --sidebar-item-background-default: #fffefd;
    --sidebar-item-background-hover: #3d3d3d;
    --sidebar-item-background-loading: #3d3d3d;
    --sidebar-item-border-default: rgba(255,246,238,0.03);
    --sidebar-cta-text: #d1c2f4;
    --sidebar-text-default: rgba(255,255,255,0.64);
    --sidebar-text-active: rgba(255,255,255,0.92);
    --table-border-default: #646464;
    --table-border-muted: #3d3d3d;
    --scrollbar-handle-background-default: rgba(0,0,0,0.2);
    --scrollbar-handle-background-hover: rgba(255,246,238,0.08);
    --pill-background-default: #3d3d3d;
    --pill-background-email: #535353;
    --pill-border-default: #646464;
    --pill-border-hover: #ff7d55;
    --email-background-default: #414141;
    --email-background-unread: rgba(0,0,0,0.12);
    --email-text-default: rgba(255,255,255,0.56);
    --email-text-muted: #646464;
    --email-text-highlighted: rgba(255,255,255,0.88);
    --search-background-hover: #3d3d3d;
    --search-background-active: #282828;
    --search-border-active: #313131;
    --context-menu-background-default: #282828;
    --context-menu-background-hover: #535353;
    --context-menu-spacing-default: 0.25rem;
  }